<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	(1) <mapper> 의 namespace 값을 Mapper 인터페이스와 동일한 이름을 주는 것에 주의
	(2) <select> 태그의 id 속성값은 메서드의 이름과 일치하게 작성
-->

<mapper namespace="com.thomas.mapper.MemberMapper">

    <resultMap type="com.thomas.domain.MemberVO" id="memberMap">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="username"/>
        <result property="regDate" column="regdate"/>
        <result property="updateDate" column="updatedate"/>
        <!-- 1:N 관계의 데이터를 처리하기 위해 collection type 사용 -->
        <collection property="authList" resultMap="authMap">
        </collection>
    </resultMap>

    <resultMap type="com.thomas.domain.AuthVO" id="authMap">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        SELECT mem.userid, userpw, username, enabled, regdate, updatedate, auth
        FROM tbl_member mem
            LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
        WHERE mem.userid = #{userid}
    </select>
</mapper>