<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	(1) <mapper> 의 namespace 값을 Mapper 인터페이스와 동일한 이름을 주는 것에 주의
	(2) <select> 태그의 id 속성값은 메서드의 이름과 일치하게 작성
-->

<mapper namespace="com.thomas.mapper.ReplyMapper">

    <insert id="insert">
        insert into tbl_reply (rno, bno, reply, replyer)
        values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
    </insert>

    <select id="read" resultType="com.thomas.domain.ReplyVO">
        select * from tbl_reply where rno = #{rno}
    </select>

    <delete id="delete">
        delete from tbl_reply where rno=#{rno}
    </delete>

    <update id="update">
        update tbl_reply set reply=#{reply}, updatedate=sysdate where rno=#{rno}
    </update>

    <select id="getListWithPaging" resultType="com.thomas.domain.ReplyVO">
        select rno, bno, reply, replyer, replyDate, updatedate
        from tbl_reply
        where bno=#{bno}
        order by rno asc
    </select>

</mapper>